In [1]:
import yfinance as yf
import pandas as pd
from df_preprocessing import convert_to_pct
import os

import time

In [2]:
dva_spec = True

In [3]:
acl_18_ext_2016 = ['AAPL', 'AMZN', 'BA', 'BP','CAT', 'META','GE', 'GOOG', 'HSBC', 'INTC', 'LMT', 'MSFT', 'TSM', 'UPS']

# stock list data

In [4]:
#daily interval
stock_ticker_dict = {}

for stock_name in acl_18_ext_2016:
    
    c_ticker = yf.Ticker(stock_name)
    c_data = c_ticker.history(start='2005-01-01', end='2024-01-01', interval='1d')
    stock_ticker_dict[stock_name] = [c_ticker, c_data]


    time.sleep(0.5)

In [5]:
# stock_ticker_dict['ABB'][1].empty

#check empty

temp_l = []

for stock_name in acl_18_ext_2016:
    if not stock_ticker_dict[stock_name][1].empty:
        temp_l.append(stock_name)

acl_18_ext_2016 = temp_l

In [6]:
len(acl_18_ext_2016)

14

In [7]:
for stock_name in acl_18_ext_2016:

    pct_list = ['open', 'high', 'low', 'close']
    
    #original
    stock_ticker_dict[stock_name][1].drop(['Dividends', 'Stock Splits'], axis=1, inplace=True)
    stock_ticker_dict[stock_name][1] = stock_ticker_dict[stock_name][1].reset_index()
    stock_ticker_dict[stock_name][1] = stock_ticker_dict[stock_name][1].rename(columns=lambda x: x.lower())

    #datetime info change
    temp_dt = pd.to_datetime(stock_ticker_dict[stock_name][1].date)
    stock_ticker_dict[stock_name][1]['date'] = temp_dt.dt.strftime('%Y-%m-%d')
    

    #pct
    temp_data = stock_ticker_dict[stock_name][1].copy()
    convert_to_pct(temp_data, pct_list, drop_NA=True)
    temp_data = temp_data.reset_index().drop('index', axis=1)

    stock_ticker_dict[stock_name].append(temp_data)

    #add the target
    if dva_spec:
        stock_ticker_dict[stock_name][2]['target'] = stock_ticker_dict[stock_name][1]['close'].copy()
        pct_list.append('target')

In [8]:
# #test
# dtx = sp_500_data[sp_500_data['index_date'].isin(stock_ticker_dict['AAPL'][2]['date'])].reset_index().drop('index', axis=1)
# dtx_m = pd.concat([stock_ticker_dict['AAPL'][2], dtx], axis=1, join='outer')
# # dtx = dtx.rename(columns={'index_date':'date'})
# # dtx.date = pd.to_datetime(dtx.date)
# # stock_ticker_dict['AAPL'][2].date = pd.to_datetime(stock_ticker_dict['AAPL'][2].date)
# # dtx_m = pd.merge(stock_ticker_dict['AAPL'][2], index_match_df, on='date', how='left')

In [9]:
# display(dtx[-10:])
# display(dtx_m)
# acl_18_ext[0]

In [10]:

display(stock_ticker_dict[acl_18_ext_2016[0]][1])
display(stock_ticker_dict[acl_18_ext_2016[0]][2])

            date        open        high         low       close      volume
0     2005-01-03    0.979334    0.984323    0.946377    0.956809   691992000
1     2005-01-04    0.964367    0.989765    0.951971    0.966635  1096810400
2     2005-01-05    0.974496    0.986440    0.968298    0.975101   680433600
3     2005-01-06    0.977671    0.981299    0.957413    0.975857   705555200
4     2005-01-07    0.982660    1.052655    0.978880    1.046910  2227450400
...          ...         ...         ...         ...         ...         ...
4776  2023-12-22  194.931260  195.160978  192.724085  193.353287    37122800
4777  2023-12-26  193.363270  193.642911  192.584265  192.803986    28919300
4778  2023-12-27  192.244692  193.253399  190.846467  192.903839    48087700
4779  2023-12-28  193.892582  194.411923  192.923817  193.333298    34049900
4780  2023-12-29  193.652887  194.152249  191.485654  192.284637    42628800

[4781 rows x 6 columns]

,date,open,high,low,close,volume,open_pct_change,high_pct_change,low_pct_change,close_pct_change,target
0,2005-01-04,0.964367,0.989765,0.951971,0.966635,1096810400,-1.528302,0.552843,0.591028,1.026981,0.956809
1,2005-01-05,0.974496,0.986440,0.968298,0.975101,680433600,1.050308,-0.335964,1.715135,0.875834,0.966635
2,2005-01-06,0.977671,0.981299,0.957413,0.975857,705555200,0.325768,-0.521148,-1.124129,0.077509,0.975101
3,2005-01-07,0.982660,1.052655,0.978880,1.046910,2227450400,0.510279,7.271613,2.242195,7.281107,0.975857
4,2005-01-10,1.055679,1.068832,1.026200,1.042527,1725309600,7.430814,1.536736,4.834031,-0.418680,1.046910
...,...,...,...,...,...,...,...,...,...,...,...
4775,2023-12-22,194.931260,195.160978,192.724085,193.353287,37122800,-0.469149,-0.847364,-0.273895,-0.554743,194.431885
4776,2023-12-26,193.363270,193.642911,192.584265,192.803986,28919300,-0.804381,-0.777853,-0.072549,-0.284092,193.353287
4777,2023-12-27,192.244692,193.253399,190.846467,192.903839,48087700,-0.578485,-0.201150,-0.902357,0.051790,192.803986
4778,2023-12-28,193.892582,194.411923,192.923817,193.333298,34049900,0.857184,0.599484,1.088493,0.222628,192.903839
4779,2023-12-29,193.652887,194.152249,191.485654,192.284637,42628800,-0.123623,-0.133569,-0.745456,-0.542411,193.333298

In [ ]:
save_raw = False
save_pct = True
save_pct_index = False


#export csv
folder_raw = 'EcmP_stock_L_2016_24_dva_spec/'
folder_pct = 'EcmP_stock_L_2005_24_dva/'
folder_pct_index = 'stock_us_pctindex/'

if not os.path.exists(folder_raw) and save_raw:
    os.makedirs(folder_raw)

if not os.path.exists(folder_pct) and save_pct:
    os.makedirs(folder_pct)

if not os.path.exists(folder_pct_index) and save_pct_index:
    os.makedirs(folder_pct_index)

for stock_name in acl_18_ext_2016:

    if save_raw:
        file_ori = folder_raw + stock_name+'.csv'
        stock_ticker_dict[stock_name][1].to_csv(file_ori, index=False)

    if save_pct:
        file_pct = folder_pct + stock_name+'_pct.csv'
        stock_ticker_dict[stock_name][2].to_csv(file_pct, index=False)

    if save_pct_index:
        file_pct_index = folder_pct_index + stock_name + '_pct_index.csv'
        stock_ticker_dict[stock_name][3].to_csv(file_pct_index, index=False)

1) apple 
2) Lockheed Martin 
3) Boeing 
4) AT&T
5) Netflix
6) tsmc
7) asml
8) intel
9) nvidia 
10) amd
11. HLX
12. XPOF
13. WGO
14. MLTX
15. WW
16. INSW
17. MLTX
18. msft
19. intc
20.  jpmc
21. amzn
22. tsla