In [1]:
import yfinance as yf
import pandas as pd
from df_preprocessing import convert_to_pct
import os

import time

In [2]:
dva_spec = False

In [3]:
acl_18_ext_2016 = ['AAPL'] #, 'AMZN', 'BA', 'BP','CAT', 'META','GE', 'GOOG', 'HSBC', 'INTC', 'LMT', 'MSFT', 'TSM', 'UPS']

# stock list data

In [4]:
#daily interval
stock_ticker_dict = {}

for stock_name in acl_18_ext_2016:
    
    c_ticker = yf.Ticker(stock_name)
    c_data = c_ticker.history(start='2024-01-01', end='2024-11-25', interval='1d')
    stock_ticker_dict[stock_name] = [c_ticker, c_data]


    time.sleep(0.5)

In [5]:
# stock_ticker_dict['ABB'][1].empty

#check empty

temp_l = []

for stock_name in acl_18_ext_2016:
    if not stock_ticker_dict[stock_name][1].empty:
        temp_l.append(stock_name)

acl_18_ext_2016 = temp_l

In [6]:
len(acl_18_ext_2016)

1

In [7]:
for stock_name in acl_18_ext_2016:

    pct_list = ['open', 'high', 'low', 'close']
    
    #original
    stock_ticker_dict[stock_name][1].drop(['Dividends', 'Stock Splits'], axis=1, inplace=True)
    stock_ticker_dict[stock_name][1] = stock_ticker_dict[stock_name][1].reset_index()
    stock_ticker_dict[stock_name][1] = stock_ticker_dict[stock_name][1].rename(columns=lambda x: x.lower())

    #datetime info change
    temp_dt = pd.to_datetime(stock_ticker_dict[stock_name][1].date)
    stock_ticker_dict[stock_name][1]['date'] = temp_dt.dt.strftime('%Y-%m-%d')
    

    #pct
    temp_data = stock_ticker_dict[stock_name][1].copy()
    convert_to_pct(temp_data, pct_list, drop_NA=True)
    temp_data = temp_data.reset_index().drop('index', axis=1)

    stock_ticker_dict[stock_name].append(temp_data)

    #add the target
    if dva_spec:
        stock_ticker_dict[stock_name][2]['target'] = stock_ticker_dict[stock_name][1]['close'].copy()
        pct_list.append('target')

In [8]:
# #test
# dtx = sp_500_data[sp_500_data['index_date'].isin(stock_ticker_dict['AAPL'][2]['date'])].reset_index().drop('index', axis=1)
# dtx_m = pd.concat([stock_ticker_dict['AAPL'][2], dtx], axis=1, join='outer')
# # dtx = dtx.rename(columns={'index_date':'date'})
# # dtx.date = pd.to_datetime(dtx.date)
# # stock_ticker_dict['AAPL'][2].date = pd.to_datetime(stock_ticker_dict['AAPL'][2].date)
# # dtx_m = pd.merge(stock_ticker_dict['AAPL'][2], index_match_df, on='date', how='left')

In [9]:
# display(dtx[-10:])
# display(dtx_m)
# acl_18_ext[0]

In [10]:

display(stock_ticker_dict[acl_18_ext_2016[0]][1])
display(stock_ticker_dict[acl_18_ext_2016[0]][2])

           date        open        high         low       close    volume
0    2024-01-02  186.237618  187.521338  182.993517  184.734985  82488700
1    2024-01-03  183.321908  184.973819  182.535751  183.351761  58414500
2    2024-01-04  181.261983  182.197403  179.998185  181.023163  71983600
3    2024-01-05  181.102786  181.869022  179.291652  180.296722  62303300
4    2024-01-08  181.202281  184.695178  180.615161  184.655365  59144500
..          ...         ...         ...         ...         ...       ...
222  2024-11-18  225.250000  229.740005  225.169998  228.020004  44686000
223  2024-11-19  226.979996  230.160004  226.660004  228.279999  36211800
224  2024-11-20  228.059998  229.929993  225.889999  229.000000  35169600
225  2024-11-21  228.880005  230.160004  225.710007  228.520004  42108300
226  2024-11-22  228.059998  230.720001  228.059998  229.869995  38153300

[227 rows x 6 columns]

,date,open,high,low,close,volume,open_pct_change,high_pct_change,low_pct_change,close_pct_change
0,2024-01-03,183.321908,184.973819,182.535751,183.351761,58414500,-1.565586,-1.358522,-0.250154,-0.748762
1,2024-01-04,181.261983,182.197403,179.998185,181.023163,71983600,-1.123666,-1.500978,-1.390175,-1.270017
2,2024-01-05,181.102786,181.869022,179.291652,180.296722,62303300,-0.087827,-0.180234,-0.392523,-0.401297
3,2024-01-08,181.202281,184.695178,180.615161,184.655365,59144500,0.054938,1.553952,0.738188,2.417483
4,2024-01-09,183.023358,184.247357,181.839157,184.237411,42841800,1.004997,-0.242465,0.677682,-0.226342
...,...,...,...,...,...,...,...,...,...,...
221,2024-11-18,225.250000,229.740005,225.169998,228.020004,44686000,-0.507948,1.242732,0.401299,1.342224
222,2024-11-19,226.979996,230.160004,226.660004,228.279999,36211800,0.768034,0.182815,0.661725,0.114023
223,2024-11-20,228.059998,229.929993,225.889999,229.000000,35169600,0.475814,-0.099935,-0.339718,0.315403
224,2024-11-21,228.880005,230.160004,225.710007,228.520004,42108300,0.359558,0.100035,-0.079682,-0.209605
225,2024-11-22,228.059998,230.720001,228.059998,229.869995,38153300,-0.358270,0.243308,1.041155,0.590754

In [11]:
save_raw = False
save_pct = True
save_pct_index = False


#export csv
folder_raw = 'EcmP_stock_L_2016_24_dva_spec/'
folder_pct = 'Inference/'
folder_pct_index = 'stock_us_pctindex/'

if not os.path.exists(folder_raw) and save_raw:
    os.makedirs(folder_raw)

if not os.path.exists(folder_pct) and save_pct:
    os.makedirs(folder_pct)

if not os.path.exists(folder_pct_index) and save_pct_index:
    os.makedirs(folder_pct_index)

for stock_name in acl_18_ext_2016:

    if save_raw:
        file_ori = folder_raw + stock_name+'.csv'
        stock_ticker_dict[stock_name][1].to_csv(file_ori, index=False)

    if save_pct:
        file_pct = folder_pct + stock_name+'_pct.csv'
        stock_ticker_dict[stock_name][2].to_csv(file_pct, index=False)

    if save_pct_index:
        file_pct_index = folder_pct_index + stock_name + '_pct_index.csv'
        stock_ticker_dict[stock_name][3].to_csv(file_pct_index, index=False)

1) apple 
2) Lockheed Martin 
3) Boeing 
4) AT&T
5) Netflix
6) tsmc
7) asml
8) intel
9) nvidia 
10) amd
11. HLX
12. XPOF
13. WGO
14. MLTX
15. WW
16. INSW
17. MLTX
18. msft
19. intc
20.  jpmc
21. amzn
22. tsla