In [1]:
import yfinance as yf
import pandas as pd
from df_preprocessing import convert_to_pct

In [2]:
google = yf.Ticker(ticker='GOOG')

In [3]:
google.info

{'address1': '1600 Amphitheatre Parkway',
 'city': 'Mountain View',
 'state': 'CA',
 'zip': '94043',
 'country': 'United States',
 'phone': '650 253 0000',
 'website': 'https://www.abc.xyz',
 'industry': 'Internet Content & Information',
 'industryDisp': 'Internet Content & Information',
 'sector': 'Communication Services',
 'sectorDisp': 'Communication Services',
 'longBusinessSummary': 'Alphabet Inc. offers various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, including ads, Android, Chrome, hardware, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play store; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in the provision of YouTube non-advertising services. The Google Cloud segment offers infrastructure, cybersecurity, data, analytics, AI, and machine learning, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services. The company was founded in 1998 and is headquartered in Mountain View, California.',
 'fullTimeEmployees': 181798,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Sundar  Pichai',
   'age': 49,
   'title': 'CEO & Director',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 7947461,
   'exercisedValue': 39618220,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ruth M. Porat',
   'age': 64,
   'title': 'Pres, Chief Investment Officer, Sr. VP & CFO',
   'yearBorn': 1958,
   'fiscalYear': 2022,
   'totalPay': 1790046,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Lawrence Edward Page',
   'age': 49,
   'title': 'Co-Founder & Director',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sergey  Brin',
   'age': 48,
   'title': 'Co-Founder & Director',
   'yearBorn': 1974,
   'fiscalYear': 2022,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. J. Kent Walker',
   'age': 61,
   'title': 'Pres of Global Affairs, Chief Legal Officer & Company Sec.',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 1787541,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Prabhakar  Raghavan',
   'age': 61,
   'title': 'Sr. VP of Knowledge and Information - Google',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 1785329,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Philipp  Schindler',
   'age': 51,
   'title': 'Sr. VP & Chief Bus. Officer of Google',
   'yearBorn': 1971,
   'fiscalYear': 2022,
   'totalPay': 1785814,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Amie Thuener O'Toole",
   'age': 47,
   'title': 'Chief Accounting Officer & VP',
   'yearBorn': 1975,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ellen  West',
   'title': 'VP of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Fiona Clare Cicconi',
   'age': 56,
   'title': 'Chief People Officer',
   'yearBorn': 1966,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 8,
 'boardRisk': 6,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 10,
 'overallRisk': 10,
 'governanceEpochDate': 1693526400,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 138.83,
 'open': 138.83,
 'dayLow': 134.52,
 'dayHigh': 138.84,
 'regularMarketPreviousClose': 138.83,
 'regularMarketOpen': 138.83,
 'regularMarketDayLow': 134.52,
 'regularMarketDayHigh': 138.84,
 'payoutRatio': 0.0,
 'beta': 1.05982,
 'trailingPE': 28.334736,
 'forwardPE': 20.269579,
 'volume': 21102389,
 'regularMarketVolume': 21102389,
 'averageVolume': 22329419,
 'averageVolume10days': 20473640,
 'averageDailyVolume10Day': 20473640,
 'bid': 134.06,
 'ask': 134.0,
 'bidSize': 1100,
 'askSize': 1200,
 'marketCap': 1691836743680,
 'fiftyTwoWeekLow': 83.45,
 'fiftyTwoWeekHigh': 139.93,
 'priceToSalesTrailing12Months': 5.84337,
 'fiftyDayAverage': 131.0384,
 'twoHundredDayAverage': 111.40122,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 1608145305600,
 'profitMargins': 0.21052,
 'floatShares': 10881188730,
 'sharesOutstanding': 5800999936,
 'sharesShort': 31117001,
 'sharesShortPriorMonth': 25471470,
 'sharesShortPreviousMonthDate': 1690761600,
 'dateShortInterest': 1693440000,
 'sharesPercentSharesOut': 0.0025,
 'heldPercentInsiders': 0.00016000001,
 'heldPercentInstitutions': 0.6221,
 'shortRatio': 1.55,
 'impliedSharesOutstanding': 12570300416,
 'bookValue': 21.153,
 'priceToBook': 6.362691,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1688083200,
 'earningsQuarterlyGrowth': 0.148,
 'netIncomeToCommon': 60953001984,
 'trailingEps': 4.75,
 'forwardEps': 6.64,
 'pegRatio': 1.34,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1658102400,
 'enterpriseToRevenue': 5.554,
 'enterpriseToEbitda': 17.6,
 '52WeekChange': 0.33827186,
 'SandP52WeekChange': 0.17142403,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'GOOG',
 'underlyingSymbol': 'GOOG',
 'shortName': 'Alphabet Inc.',
 'longName': 'Alphabet Inc.',
 'firstTradeDateEpochUtc': 1092922200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'ee8cce8c-2475-31c0-8436-ecdf889cbfbd',
 'messageBoardId': 'finmb_29096',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 134.59,
 'targetHighPrice': 160.0,
 'targetLowPrice': 120.0,
 'targetMeanPrice': 142.3,
 'targetMedianPrice': 144.0,
 'recommendationMean': 1.6,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 10,
 'totalCash': 118331998208,
 'totalCashPerShare': 9.385,
 'ebitda': 91374002176,
 'totalDebt': 29432000512,
 'quickRatio': 2.022,
 'currentRatio': 2.172,
 'totalRevenue': 289531002880,
 'debtToEquity': 11.017,
 'revenuePerShare': 22.547,
 'returnOnAssets': 0.1296,
 'returnOnEquity': 0.23329,
 'grossProfits': 156633000000,
 'freeCashflow': 68255125504,
 'operatingCashflow': 99142000640,
 'earningsGrowth': 0.191,
 'revenueGrowth': 0.071,
 'grossMargins': 0.55594003,
 'ebitdaMargins': 0.31559,
 'operatingMargins': 0.26437,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.3177}

In [4]:
test_1 = google.history(period='max', interval='1d')

In [5]:
test_1.shape

(4805, 7)

In [6]:
test_1.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [7]:
test_1.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2004-08-19 00:00:00-04:00,2.490664,2.591785,2.390042,2.499133,897427216,0.0,0.0
2004-08-20 00:00:00-04:00,2.515820,2.716817,2.503118,2.697639,458857488,0.0,0.0
2004-08-23 00:00:00-04:00,2.758411,2.826406,2.716070,2.724787,366857939,0.0,0.0
2004-08-24 00:00:00-04:00,2.770615,2.779581,2.579581,2.611960,306396159,0.0,0.0
2004-08-25 00:00:00-04:00,2.614201,2.689918,2.587302,2.640104,184645512,0.0,0.0

In [8]:
x = test_1.reset_index().copy()

In [9]:
x = x.rename(columns={"Date":"date"})

In [11]:
dct = pd.to_datetime(x.date)

In [18]:
dct

0      2004-08-19 00:00:00-04:00
1      2004-08-20 00:00:00-04:00
2      2004-08-23 00:00:00-04:00
3      2004-08-24 00:00:00-04:00
4      2004-08-25 00:00:00-04:00
                  ...
4800   2023-09-14 00:00:00-04:00
4801   2023-09-15 00:00:00-04:00
4802   2023-09-18 00:00:00-04:00
4803   2023-09-19 00:00:00-04:00
4804   2023-09-20 00:00:00-04:00
Name: date, Length: 4805, dtype: datetime64[ns, America/New_York]

In [44]:
x.date

0      2004-08-19 00:00:00-04:00
1      2004-08-20 00:00:00-04:00
2      2004-08-23 00:00:00-04:00
3      2004-08-24 00:00:00-04:00
4      2004-08-25 00:00:00-04:00
                  ...
4798   2023-09-12 00:00:00-04:00
4799   2023-09-13 00:00:00-04:00
4800   2023-09-14 00:00:00-04:00
4801   2023-09-15 00:00:00-04:00
4802   2023-09-18 00:00:00-04:00
Name: date, Length: 4803, dtype: datetime64[ns, America/New_York]